@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: auto;
  width: 90vw;
  background: #d1d4e3;
  color: #212335;
  scroll-behavior: smooth;
} 

main {
  width: 75vw;
  margin: auto;
}